@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
:root {
    --body-background-color-dark: #18122B;
    --canvas-background-color-dark: #29233D;
    --font-color-dark: #eee;
    --block-color-dark: #443C68aa;

    --body-background-color-light: #AD8B73;
    --canvas-background-color-light: #CEAB93;
    --font-color-light: #111;
    --block-color-light: #E3CAA5;

    --body-background-color: var(--body-background-color-dark);
    --canvas-background-color: var(--canvas-background-color-dark);
    --font-color: var(--font-color-dark);
    --block-color: var(--block-color-dark);

    /*--body-background-color: var(--body-background-color-light);*/
    /*--canvas-background-color: var(--canvas-background-color-light);*/
    /*--font-color: var(--font-color-light);*/
    /*--block-color: var(--block-color-light);*/
}


* {
    /*font-family: 'Noto Sans', sans-serif;*/
    font-family: 'Nunito', sans-serif;
}

body{
    position: relative;
    margin: 0;
    background-image: url("/img/bg.jpg");
}

canvas {
    border: 0;
    border-radius: 5px;
    margin: 5px;
    padding-bottom: 5px;
    background: var(--canvas-background-color);
}

.canvas-block {
    height: min-content;

    margin: 5px;
    border: 0;

    border-radius: 5px;
    background: var(--canvas-background-color);
    font-family: 'Noto Sans', sans-serif;
}

h2, h3 {
    color: var(--font-color);
    margin: auto;
    text-align: center;
}

.percent {
    color: var(--font-color);
    text-align: center;
    margin: 10px;
}

.main-page {
    /*background-color: var(--body-background-color);*/
    margin: 10px;
}
.block {
    background-color: var(--block-color);
    border:0px;
    border-radius: 10px;
    padding: 10px;
    margin-right:10px;
    /*background-color: rgba(0,0,0,0.8);*/
}

.b-container{
    width:200px;
    height:150px;
    background-color: var(--body-background-color);;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: var(--font-color);
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:70vw;
    height: auto;
    padding:10px;
    background-color: var(--body-background-color);;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

.button {
    background-color: rgba(0,0,0,0.5);
    margin:5px;
    color: var(--font-color);
    border-radius:5px;
}

.right {
    position: absolute;
    right: 0px;
    /*width: 300px;*/
    /*border: 3px solid #73AD21;*/
    padding: 10px;
}

.footer {
    display: flex;
    background-color: rgba(0,0,0,0.5);
    margin:5px;
    text-align:right ;
    color: var(--font-color);
    border-radius:5px;
}

.tittle {
    background-color: rgba(0,0,0,0.5);
    margin:5px;
    width: auto;
    text-align:left ;
    color: var(--font-color);
    border-radius:5px;
}

select,input {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: var(--body-background-color);
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:var(--font-color);
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
    display: none;
}
.select {
    position: relative;
    display: flex;
    width: 5em;
    /*height: 2em;*/
    /*line-height: 1;*/
    background: var(--body-background-color);
    overflow: hidden;
    border-radius: .25em;
}
.select::after {
    content: '\25BC';


    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    padding: 0 5px;
    font-size: 16px;

    background: var(--body-background-color);
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}
.select:hover::after {
    color: var(--block-color);
}

.styled-table {
    min-width: 400px;
    max-width: 1100px;

    margin: 25px auto;

    border-collapse: collapse;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead tr {
        background-color: var(--block-color);
        color: var(--font-color);
        text-align: left;
    }

    th, td {
        padding: 12px 15px;
        border: 1px solid;

        color: var(--font-color);
        font-size: 0.9rem;
        //font-size: 1.3rem;

        border-radius: 1px;
        background-color: var(--body-background-color);
        /*border-color: var(--body-background-color);*/
    }
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: var(--body-background-color);
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--block-color);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: var(--font-color);
    border-color: var(--body-background-color);
}


canvas {
    width: 100% !important;
    height: auto !important;
    margin: 5px 0;
}

.full-width-canvas {
    width: 100%;

    canvas {
        width: 100% !important;
        margin: 5px 0;
    }
}

.is-overflow-hidden {
    overflow: hidden;
}

/** MAP **/
@import 'https://fonts.googleapis.com/css?family=Lato';

.cross {
    z-index: 10;

    position: absolute;
    top: 10px;
    left: 20px;

    display: block;

    width: 24px;
    height: 24px;

    cursor: pointer;

    &:after, &:before {
        content: '';
        display: block;

        position: absolute;
        left: 50%;
        top: 50%;

        width: 2px;
        height: 18px;

        background: rgba(50,50,50,0.9);
    }
    &:after {
        transform: translate(-50%,-50%) rotate(-45deg);
    }
    &:before {
        transform: translate(-50%,-50%) rotate(45deg);
    }
}

.map, .rec {
    display: none;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    overflow-y: auto;

    background: rgba(255,255,255,0.99);

    font-family: Lato;
    font-size: 15px;

    &.is-opened {
        display: block;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    h1 {
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
    }

    #chartdiv {
        max-width: 1100px;
        height: 400px;
        border: 1px solid #ddd;
        margin: 0 auto;
    }

    #info {
        max-width: 1100px;
        border: 1px solid #ddd;
        margin: 10px auto;
        padding: 5px 8px;
    }
}

.main-page__1-column {
    width: 15%;
}
.main-page__2-column {
    display: flex;
    flex-direction: column;

    width: 53%;
}
.main-page__3-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 24%;
}

body{
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}

.btn {
    cursor: pointer;
}

.styled-table td {
    &.td-good {
        background-color: green;
    }

    &.td-bad {
        background-color: red;
    }
}

.chart-value {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 20px;
    font-weight: bold;
}

.select-title-comparing {
    color: white;
    text-align: center;
    font-size: 1.2rem;
}



@media print {

    @page {
        size: A4;
        //size: landscape;
    }

    .d-no-print {
        display: none !important;
    }

    * {
        color: black !important;
    }

    .d-print {
        display: block !important;
    }

    .d-print-table-row {
        display: table-row !important;
    }

    .main-page__1-column {
        order: 1;
        width: 45%;
    }
    .main-page__2-column {
        order: 3;
        width: 100%;

        margin-top: 50px;
    }
    .main-page__3-column {
        order: 2;
        width: 45%;
    }

    h1 {
        font-size: 2.2rem !important;
    }

    .map, .rec {
        position: static;
        background: unset;
        margin-top: 10cm;
    }


    // whited
    select, input, .chart-value, .canvas-block *, .select-title-comparing {
        color: white !important;
    }

    .styled-table {
        max-width: 500px;

        box-shadow: unset;

        td, th, a {
            color: white !important;
        }
    }
}
